<template>
  <jumbo-header class="creator flex flex-col text-white sm-no-py">
    <div class='flex md:flex-row flex-col text-center md:text-left bg-gray-700 bg-opacity-75 gap-0 2xl:gap-12 rounded-lg xl:m-auto xl:w-4/5 2xl:w-3/5 w-full box-border'>
      <div class='md:w-1/3 w-full md:flex flex-row place-items-end xl:text-right'>
        <div class='w-full flex flex-row justify-items-center align-middle text'>
          <img src='../assets/characters/velia.png' class='inline-block m-auto h-64 md:h-96' />
        </div>
      </div>
      <div class='md:w-2/3 w-auto text-justify rounded-lg p-6 box-border mx-4 mg:mx-0'>
        <a name='about' />
        <h3 class='text-2xl text-center md:text-justify font-bold'>Meet the creator: Velia Deviluke</h3>
        <p>Playing since 2011, and having many characters (of which only 3 are <i>actually</i> useful), I am aiming to be the most neutral possible in game. Not interested by the geopolitical conflicts, I describe myself as a <strong>Professional In-Station Ship-spinner</strong>.</p>
        <p>Even if my main character is part of a null-sec alliance, the bot is agnostic of any alliance and there is no other person than me that have access to the database of names. Always aiming for peaceful behaviours and a good laugh around a beer, I put my programming capabilities at the service of the capsuleers in need of automation. This includes the <a class='link' href='https://twitch.tv/ccp' target="_blank">official CCP Twitch Channel</a> for the Alliance Tournament XVII.</p>
        <p>Obviously, I am not against some free ISKs, so if you feel generous, do not hesitate to send some to me. My most active characters are <strong>Aenoa Exhulis</strong>, <strong>Velia Deviluke</strong> and <strong>Chihiro Miura</strong>. I often am connected to my alliance channel, that you can join of course to chat. Its name is "<i>NLA-public</i>"</p>
      </div>
    </div>
  </jumbo-header>
</template>

<script>
export default {

}
</script>

<style>
.sm-no-py {
  @apply py-0 xl:py-36 box-border;
}
.creator {
  background-image: url('../assets/explosion-blue.png');
  @apply bg-cover bg-center;
}
</style>
