<template>
    <div class='p-4 m-4 bg-gray-900 text-white rounded-lg shadow-lg box-border'>
        <div class='chat-line'>
            <star-icon class='h-6 w-6 text-purple-400 flex-none' />
            <span class='sender px-2 flex-shrink'>{{sender}}:</span>
            <span class='message flex-grow'>{{command}}</span>
            
        </div>
        <div class='chat-line'>
            <badge-check-icon class='h-6 w-6 text-purple-400 flex-none' />
            <span class='bot px-2 flex-shrink'>EVE2TWITCH:</span>
            <span class='message flex-grow'><span class='sender'>@{{sender}}</span>: {{response}}</span>
        </div>
    </div>
</template>

<script> 
import { BadgeCheckIcon, StarIcon } from '@heroicons/vue/solid'
export default {
    components: {
        BadgeCheckIcon, StarIcon
    },
    name: 'CommandExample',
    props: {
        sender: String,
        command: String,
        response: String,
    },
}
</script>

<style>
.chat-line {
    @apply flex flex-row pb-2;
}
.sender {
    @apply font-bold text-pink-400;
}
.bot {
    @apply font-bold text-green-600;
}
.message {
    @apply italic pl-2;
}
</style>