<script lang="ts">
import CommandExample from './CommandExample.vue'
import { ShieldExclamationIcon } from '@heroicons/vue/solid'
import JumboHeader from './JumboHeader.vue'
export default {
  name: 'Commands',
  components: {
    CommandExample,
    ShieldExclamationIcon,
    JumboHeader,
  },
}
</script>

<template>
  <jumbo-header class='mb-4 commands-jumbo text-white'>
    <h2 class='text-2xl'> « A command ship? in THIS economy?! »</h2>
    <p>Worry not, some have command ships, but we do have a command list for you to kick-start using eve2twitch!</p>
  </jumbo-header>
  <h1 class="text-5xl text-center p-5 box-border">List of all commands</h1>

  <div class='command'><a name='ignr' />
    <h2>Register your IGN</h2>
    <p>This command is very useful for whenever a player wins a giveaway and/or wants to show its character name to another chatter. It will output the registered character name (IGN) that the user issuing the command saved previously.</p>
    <command-example 
      sender='Lumikkode' 
      command='!ign Velia Deviluke' 
      response='IGN "Velia Deviluke" registered.' 
    />
    <p>What may occur is that the character is not found in EVE Online. This can be a sign that the character is either too young (created less than an hour ago) or that there is a Typo in the character name. In those cases, the bot will warn the user that the IGN is not found in EVE Online, but will save the name nonetheless.</p>
    <command-example 
      sender='Lumikkode' 
      command='!ign Velia Deviluke' 
      response='IGN "Velia Deviluke" registered but not found in EVE Online.' 
    />
  </div>

  <div class='command'>
    <h2>display your IGN</h2><a name='ignd' />
    <p>This command is very useful for whenever a player wins a giveaway and/or wants to show its character name to another chatter. It will output the registered character name (IGN) that the user issuing the command saved previously.</p>
    <command-example 
      sender='Lumikkode' 
      command='!ign' 
      response='IGN "Velia Deviluke".' 
    />
  </div>

  <div class='command'>
    <h2>Find IGN of a Twitch account</h2><a name='igs' />
    <p class='note'><shield-exclamation-icon class='h-6 w-6 text-red-500' /> Note: This command is only available for Broadcaster and Moderators of the channel</p>
    <p>When running giveaways, it happens that the user is already gone, or that your giveaway gets ran asynchronously of your stream. In this case, it may be useful to find the character name of a specific Twitch user. The command <kbd>!igs</kbd> (In-Game Search) then becomes very useful:</p>
    <command-example 
      sender='Lumikkode' 
      command='!igs @ContempoEnterprises' 
      response='Account "ContempoEnterprises" registered IGN "Nakirian".'
    />
    <p>If the Twitch account has not registered any IGN (or did but in a channel with a private database), the command will explain that no IGN has been registered for that user.</p>
    <command-example 
      sender='Lumikkode' 
      command='!igs @KwinLaag'
      response='Account "KwinLaag" has not registered a IGN.'
    />
  </div>

  <div class='command'>
    <h2>Find Twitch account of an IGN</h2><a name='igrs' />
    <p class='note'><shield-exclamation-icon class='h-6 w-6 text-red-500' /> Note: This command is only available for Broadcaster and Moderators of the channel</p>
    <p>Someone sent you ISK ingame for a giveaway raffle, but you do not know who they are on Twitch? You want to send a whisper on Twitch to someone who was incredibly nice to you ingame, but don't know how to contact them? The <kbd>!igrs</kbd> (In-Game Reverse Search) is made for you. You can easily search which Twitch Account has registered the IGN you know.</p>
    <command-example 
      sender='Lumikkode' 
      command='!igrs Ebrietas' 
      response='IGN "Ebrietas" belongs to "Dev_LAB" (dev_lab).'
    />
    <p>If the EVE Character is not registered by anyone (or is registered but in a channel with a private database), the command will explain that the IGN has not been found.</p>
    <command-example 
      sender='Lumikkode' 
      command='!igrs Aenoa Exhulis'
      response='IGN "Aenoa Exhulis" not registered.'
    />
  </div>
</template>

<style scoped>
.command {
  @apply container text-justify m-auto border-b border-opacity-50 border-gray-400 mt-8 py-4;
}
.command:last-of-type {
  @apply border-b-0;
}
.command h2 {
  @apply text-2xl font-semibold pb-3;
}
.command .note {
  @apply text-lg italic flex flex-row font-normal text-red-900 dark:text-red-500 py-2;
}

.commands-jumbo {
  background-image: url('../assets/boosts.png');
  @apply text-2xl;
}
.commands-jumbo h2, .commands-jumbo p {
  @apply text-3xl bg-gray-900 bg-opacity-50 py-2;
}
</style>
