<template>
  <div class='footer'>
    <div class='col'>
      <h3>Navigation</h3>
    </div>
    <div class='col'>
      col 2
    </div>
    <div class='col'>
      <h3>Support my work</h3>
      <p><a href=''>eve</a></p>
    </div>
    <div class='col'>
      <img src='../assets/eve-online-partner-badge.png' />
      <p>All the images used are the trademark and property of CCP Games and EVE Online, all rights reserved.</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.footer {
  @apply bg-gray-900 text-white min-h-full max-h-screen
  flex flex-row text-lg text-left px-4 w-full;
}
.col {
  @apply flex-1 box-border my-4;
}
.col img {
  @apply block text-center m-4 box-border;
}
</style>
