<template>
  <div class='noscroll'>
    <jumbo-header class='e404-jumbo'>
      <h1 class="text-2xl font-bold">Woops!</h1>
      <p>Looks like you found a page that should not exist. Our Drifters will make sure to fix that up!</p>
    </jumbo-header>
  </div>
</template>

<script>
import JumboHeader from './JumboHeader.vue'
export default {
  components: { JumboHeader },
    name: 'Error404'
}
</script>

<style>
.noscroll {
  overflow-y: hidden;
}
.e404-jumbo {
  background-image: url('../assets/404.png');
  @apply min-h-screen box-border text-xl text-white;
}
.e404-jumbo h1 {
  @apply text-5xl text-center pb-0 box-border;
}
.e404-jumbo > * {
  @apply  py-4 bg-gray-900 bg-opacity-70;
}
</style>
