<script lang="ts">
import JumboHeader from './JumboHeader.vue'
import About from './About.vue'
import { ChevronDoubleRightIcon, GiftIcon, MailIcon, FilterIcon } from '@heroicons/vue/solid'
export default {
  components: {
    JumboHeader,
    FilterIcon,
    ChevronDoubleRightIcon,
    MailIcon,
    GiftIcon,
    About,
  },
}
</script>

<template>
  <jumbo-header class='main'>
    <h2 class='text-2xl font-extrabold'>EVE2TWITCH</h2>
    <p class='text-lg'>A simple to use bot for your twitch streams, and a powerful tool for sharing your character names</p>
  </jumbo-header>

  <div class='w-full px-8 xl:px-0 xl:w-2/3 flex flex-row justify-center text-center gap-3 items-center m-auto py-8'>
    <div class='text-justify'>
      <h2>What is EVE2TWITCH ?</h2>
      <p>EVE2TWITCH is a Twitch bot that allows the streamers and viewers to register, display, and search for either the eve character name of a Twitch account, or the Twitch account of a Eve character.</p>
      <p>The bot is used by more than 60 channels and a whooping 8000+ users have registered their ingame name using this bot! It is a real advantage for streamers that want to do giveaways on Twitch to have this bot, as it is making it easier for them to find out which Twitch account has which in-game character, all of that with a single command! (for more informations about commands, feel free to check <router-link tag='a' to='/commands'>the commands page</router-link>)</p>
    </div>
  </div>
  <div class='w-full px-8 xl:px-0 xl:w-2/3 flex flex-col md:flex-row justify-center text-center gap-3 items-center m-auto py-8'>
    <div class='flex-col text-left'>
      <filter-icon class='h-36 w-36 inline-block pr-12' />
    </div>
    <div class='text-justify'>
      <h3 class='text-2xl font-bold'>A strong processing power</h3>
      <p>EVE2TWITCH is able to handle a lot of messages at once! For example, it was able to handle the whole chat of CCP during the Alliance Tournament XVII of november 2021, without breaking a sweat.</p>
      <p>If it is not giving you enough sight on how many messages the bot processes, our average per month is 17.000 commands, and 4.000.000 messages altogether. That's not much, but that's honest work!</p>
    </div>
  </div>
  <jumbo-header class='testimonies-holder'>
    <div class='testimony'>
      <img class='flex-none rounded-full h-32 w-32' src='https://image.eveonline.com/Character/1254522683_256.jpg' />
      <div class='flex flex-col place-content-start'>
        <h2>
          Testimony of 
          <a href='https://twitch.tv/Pyrophobic'>Pyrophobic</a>
        </h2>
        <i>IGN: Donarim</i>
        <blockquote>Lumikkode's EVE2Twitch bot makes doing giveaways on stream easy and less time consuming. It's a tool that every EvE streamer should use!</blockquote>
      </div>
    </div>
    <div class='testimony'>
      <img class='flex-none rounded-full h-32 w-32' src='https://image.eveonline.com/Character/2115597014_256.jpg' />
      <div class='flex flex-col place-content-start'>
        <h2>
          Testimony of 
          <a href='https://twitch.tv/CCP'>CCP</a>
        </h2>
        <i>IGN: CCP Convict</i>
        <blockquote>We use Lumikkode's EVE2Twitch bot in in the official CCP channel and it helps us when we need to reach players in-game to deliver prizes or do follow ups when we're off air.</blockquote>
      </div>
    </div>
  </jumbo-header>
  <div class='w-full px-8 xl:px-0 xl:w-1/2 flex flex-col md:flex-row-reverse justify-center text-center gap-3 items-center m-auto py-8'>
    <div class='flex-col text-left'>
      <chevron-double-right-icon class='h-36 w-36 inline-block pr-12' />
    </div>
    <div class='text-justify'>
      <h3 class='text-2xl font-bold'>Ready to step-up your stream?</h3>
      <p>Adding EVE2TWITCH to your channel is currently done by whispering <a href='https://twitch.tv/lumikkode'>Lumikkode</a> on Twitch, or via in-game mail to <strong>Velia Deviluke</strong>. In the near future, the Dashboard will allow you to request or remove the bot on your channel, and provide some analytics about the bot usage.</p>
    </div>
  </div>
  <div class='w-full px-8 xl:px-0 xl:w-1/2 flex flex-col md:flex-row justify-center text-center gap-3 items-center m-auto py-8'>
    <div class='flex-col text-left'>
      <gift-icon class='h-36 w-36 inline-block pr-12' />
    </div>
    <div class='text-justify'>
      <h3 class='text-2xl font-bold'>Do you appreciate the bot?</h3>
      <p>The bot is fully hosted on premise and all costs are handled by myself, so if you feel like helping me, you can donate some ISKs to <strong>Velia Deviluke</strong> or simply spread the word about the bot! Thank you for using EVE2TWITCH!</p>
    </div>
  </div>
  <div class='w-full px-8 xl:px-0 xl:w-1/2 flex flex-col md:flex-row-reverse justify-center text-center gap-3 items-center m-auto py-8'>
    <div class='flex-col text-left'>
      <mail-icon class='h-36 w-36 inline-block pr-12' />
    </div>
    <div class='text-justify'>
      <h3 class='text-2xl font-bold'>Need to contact me?</h3>
      <p>If something seems too shady for you or if you need some support about EVE2TWITCH, you can contact me by email at <a href='mailto:eve2twitch@lumikko.dev'>eve2twitch@lumikko.dev</a>, <a href='https://twitch.tv/lumikkode'>via Twitch</a> or even via eve-mail at <strong>Velia Deviluke</strong>.</p>
    </div>
  </div>
  <about />
</template>

<style scoped>
.testimonies-holder {
  background-image: url('../assets/ikitursa.png');
  @apply m-auto gap-4 flex flex-col lg:flex-row justify-center;
}
.testimony {
  @apply w-full lg:max-w-2xl flex text-justify flex-row gap-4 bg-gray-900 bg-opacity-75 sm:rounded-full lg:rounded-none xl:rounded-full box-border py-4 pl-4 pr-12 text-yellow-50;
}
.testimony h2, .testimony i {
  @apply text-center;
}
.testimony:first-of-type {
  @apply lg:rounded-r-3xl xl:rounded-full;
}
.testimony:last-of-type {
  @apply lg:rounded-l-3xl xl:rounded-full;
}
h2 {
  @apply text-2xl font-bold;
}
p {
  @apply dark:text-yellow-50 text-black text-xl box-border mb-4;
}

a {
  @apply text-green-600 dark:text-yellow-300;
}

.main {
  background-image: url('../assets/jumbo.png');
  @apply text-2xl;
}

.main * {
  @apply text-yellow-50 text-3xl bg-gray-900 bg-opacity-50 py-2
}

</style>
