<template>
  <jumbo-header class='mb-4 infos-jumbo text-white'>
    <h1 class='text-2xl'>Good to know as a streamer</h1>
  </jumbo-header>
  <div class='info'>
    <h2>How can I get the bot?</h2>
    <p>Currently, the bot is not automated fully. For this reason, you will need to send a whisper on Twitch to <strong>Lumikkode</strong> so that you can be added into the 'streamers to join' database.</p>
  </div>
  <div class='info'>
    <h2>Renaming your channel will break the bot</h2>
    <p>Well, at least, it will for your channel. The EVE2TWITCH bot currently does not check if the channel changed name before joining again (but it will in the future), so changing your Twitch account name may require that you contact <strong>Lumikkode</strong> with your old and new name, to update the database.</p>
  </div>
  <div class='info'>
    <h2>The database is shared accross all streamers</h2>
    <p>A future update will allow streamers to have their own, isolated, IGN database for their channel. For now, it is fully shared accross all streamers, and registering to one will register to all the others.</p>
  </div>
  <div class='info'>
    <h2>If your chatroom is in Follower-only or Sub-only</h2>
    <p>In case you have enabled the <strong>Follower-only chat</strong> or the <strong>Subscribers-only chat</strong>, you will need to set the <strong>EVE2TWITCH</strong> bot either as a VIP (highly recommended), or as a Moderator (discouraged, but the only solution if all your VIP slots are filled). Those roles are exempt from the chatroom restrictions quoted previously.</p>
  </div>
  <div class='info'>
    <h2>The bot restarts during Eve Downtime</h2>
    <p>While adding the streamers is still manually done by <strong>Lumikkode</strong>, the bot will take into account those newly added accounts only after a restart. Lumikkode usually restarts the bot directly after adding someone, but if it is being used heavily when the channel gets added, no restart will be done and the next <i>guaranteed</i> restart is at Eve Downtime, at 11.00 AM UTC.</p>
  </div>
</template>

<script>
import JumboHeader from './JumboHeader.vue'
export default {
  components: { JumboHeader },

}
</script>

<style>
.infos-jumbo {
  background-image: url('../assets/gila.png');
}
.infos-jumbo h1 {
  @apply text-4xl bg-gray-900 bg-opacity-70 py-8;
}
.info {
  @apply container m-auto text-xl mb-8 text-justify;
}
.info h2 {
  @apply text-3xl py-4;
}
</style>
