<template>
  <div class='jumbo'>
    <slot />
  </div>
</template>

<style scoped>
.jumbo {
    @apply w-full h-auto py-36 box-border 
    flex flex-col 
    text-lg text-center 
    place-content-center shadow-md 
    bg-cover bg-no-repeat bg-center;
}
</style>
