<script lang="ts">
import {LightBulbIcon, HomeIcon } from '@heroicons/vue/solid'
export default {
  components: {
    LightBulbIcon, HomeIcon,
  },
  methods: {
    darkmode() {
      const website = document.querySelector('html');
      const isDarkMode = website?.classList.contains('dark');
      website?.classList[isDarkMode?'remove':'add']('dark');
    }
  },
}
</script>

<template>
  <div>
    <header>
      <nav class="w-full py-2 md:h-16 text-lg box-border flex flex-col place-content-center gap-4">
        <div class="flex flex-col md:flex-row text-center box-border my-4 mx-4">
          <router-link class='flex-grow-0' to="/" tag="a">
            <home-icon class='h-7 w-7 inline-block' />
          </router-link>
          <router-link class="link" to="/commands" tag="a">Commands</router-link>
          <router-link class="link" to="/infos" tag="a">Things to know as a streamer</router-link>
          <!-- <a class='flex-grow'>Dashboard (soon)</a> -->
          <a class='flex-grow-0 md:text-right' @click="darkmode()">
            <light-bulb-icon class='h-7 w-7 inline-block' />
          </a>
        </div>
      </nav>
    </header>
    <div class="critical">
      <strong>PLEASE READ!</strong><br />
      <p>
        Twitch <a href="https://discuss.dev.twitch.com/t/giving-broadcasters-control-concurrent-join-limits-for-irc-and-eventsub/54997">did a major change to how we can join streamers channels</a> and this broke eve2twitch.<br />

        I always invited you to <b>avoid putting the bot as a MOD</b> due to power creep concerns, but this is now the only "fast" workaround to get the bot to join again your channel.
      </p><br />
      <p><b>Please set the bot as a moderator</b> for it to be allowed to join your channel (for now) while I work on a more definitive solution. The bot joins channels every day around 1 hour before or after EVE Online Downtime. The bot will only be able to join 100 channels where he is not a moderator due to new restrictions (see link above) so it is the easiest way for now to get it to join your channel again.</p>
      <br /><i>This change occured on may 16th 2024 and today is may 18th. Tomorrow I have a flight for 7 days in Poland so I will not be able to work on a fix until I come back, on sunday 26 evening.</i>
      <br /><p>Sorry for the inconvenience and I hope I will be able to fix this issue soon.</p>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  @apply font-sans;
}
.critical {
  @apply w-full border-black border bg-red-800 text-white text-center box-border p-10 text-lg;
}
.critical a {
  @apply underline text-blue-300 text-lg;
}
.link {
    @apply text-green-400 
    dark:text-yellow-400 
    flex-grow;
}
nav > div > * {
  @apply md:border-l md:border-r md:border-gray-50 md:border-opacity-25 md:px-2;
}
nav > div > *:first-child {
  @apply border-l-0;
}
nav > div > *:last-child {
  @apply border-r-0;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
</style>
